.feynman {
  background-image: url("https://github.com/warsdd/web_project_1/blob/main/images/feynman.png?raw=true");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #F2F2F2;
  min-height: 790px;
  padding-top: 100px;
  position: relative;
}
